$colorChangeTime: 30s;

* {
	margin: 0;
}

body {
	overflow: hidden;
	background: #fff;
}

a {
	text-decoration: none;
}

.handwriting {
	font-family: 'La Belle Aurore';
}

.my-name {
	font-family: "Roboto", Verdana, sans-serif;
	font-size: 30px;
	animation: colorChanges $colorChangeTime infinite linear;
	color: $defaultComponentsColor;
	font-weight: 100;
}

.container {
	display: table;
	width: 100vw;
	height: 100vh;
}

.content {
	display: table-cell;
	vertical-align: middle;
	animation: contentFadeIn 1s 1 ease-out;
}

.text-center {
	text-align: center;
}

hr {
	border: none;
	border-top: 1px solid $defaultComponentsColor;
	width: 500px;
	margin: 20px auto;
	animation: 	colorChanges $colorChangeTime infinite linear,
				hrInit .5s .8s forwards 1 ease-out;
	transform: scaleX(0);
}

.social-network-icon {
	width: 35px;
	fill: $defaultComponentsColor;
	animation: 	colorChanges $colorChangeTime infinite linear,
				socialNetworkInit .5s 1.5s forwards 1 ease-out;
	opacity: 0;
}
.margin-left-20 {
	margin-left: 20px;
}